body{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    font-family: rubik
}
.conteinerPokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.searchPokedex{
    width: 300px;
    margin-bottom: 50px;
}

.showPokemons {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin: 0 200px;
}

.showPokemons ul{
    list-style: none;
}

.showPokemons ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showPokemons .stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.showPokemons ul li img{
    width: 150px;
    background-color: #fff;
    border-radius: 100%;
}